.DS_Store
.RData
*data/*
*/data/*
de_analysis/*test*
de_analysis/nullpower/*test*
*seurat.RDS
.Rproj.user
*.Rproj
.Rhistory
*dataset*
*.log
*/logs/*
*._*
*.DS_Store
muscle_case_study/results/MuscleRNA/fit/*devil*
de_analysis/nullpower/timing_results
