.DS_Store
.RData
*data/*
*/data/*
de_analysis/*test*
de_analysis/nullpower/*test*
*seurat.RDS
.Rproj.user
*.Rproj
.Rhistory
*dataset*
*.log
*/logs/*
*._*
*.DS_Store
extra/
pseudo_replicate_analysis/
batch_effect_benchmark/
scaling_patients_and_covariates/results/*
muscle_case_study/results/MuscleRNA/fit/*devil*
de_analysis/nullpower/timing_results
de_analysis/nullpower/figures/RDS/
de_analysis/nullpower/data/
cell_types_analysis/marker_finder/data/
